<!doctype html>
<html>

	<head>
	  <meta charset="utf-8">
	 	<meta http-equiv='X-UA-Compatible' content='IE=edge'>
	 	<title>Evaluación Strapp</title>
  	<meta name="description" content="Evaluación de Strapp">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-touch-fullscreen" content="yes">
		<meta name="author" content="Abdalah Masrie">

		<!-- favicon -->
    <link id="favicon" rel="icon" type="image/png" href="images/favicon.ico">

	  <!-- Se agregan links a Bootstrap y Angular -->

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="styles/styles.css">

	</head>

	<body data-ng-app="app" id="app" data-custom-page data-ng-controller="AppCtrl">

		<div>
		    <div ui-view></div>
		</div>

		<!-- Scripts para bootstrap, JQuery y Angular-->

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

		<!-- bower components-->
		<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>

    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-animate.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-sanitize.js"></script>


		<!-- Scripts de archivos de Angular-->
	  	<script src="post/app.config.js"></script>
	  	<script src="post/app.controller.js"></script>
	  	<script src="post/app.service.js"></script>

	</body>

</html>